#
# Tow project: {{project_name}}
# Default mapping configuration
#
# Copyright {{current_year}}, YOUR_COMPANY_NAME
#
# All rights reserved - Do Not Redistribute
#

mapping = {
    "templates": [
        ("/path/to/template", "/path/in/container")
    ],
    "files": [
        ("/path/to/file", "/path/in/container")
    ]
}
