# Mapping file contains mapping declaration
mapping = [("source file from tempalte or files", "dst file in docker container"), 
            ("httpd.conf.tmpl", "/etc/apache/httpd"), ("somefile", "/var/log/some.log")]
