#!/bin/sh
# This is tow run script which copy files from tow volume

if [ -f "{{volume_name}}/mapping.sh" ]; then
    sh {{volume_name}}/mapping.sh
fi

PATH=$PATH:`pwd`

{% if entrypoint %}
{% if cmd %}
"{{entrypoint}}" "{{cmd}}" "$@"
{% else %}
"{{entrypoint}}" "$@"
{% endif %}
{% else %}
"{{cmd}}"
{% endif %}
